--- # what is .clang-format -> conjunto de ferramentas para utilizarmos a partir de bibliotecas; arquivo de configuração para o Cpp ou LLVM ?

Language: Cpp #Language: Cpp define a linguagem utilizada, mas onde é utilizada e para que ? Baseado no LLVM ou seja, em uma máquina virtual

AccessModifierOffset: -2 # o que é isso ? Identação extra

AlignAfterOpenBracket: Align #ao abrir um parentes, conchetes, parentes angulares se é fechado automanticamente

AlignConsecutiveAssignments: false # Alinha as declarações a partir de espaços; um embaixo do outro.

AlignConsecutiveDeclarations: false # Alinha as declarações a partir de espaços.

AlignEscapedNewlines: Right # Alinha a barra invertida de novas linhas na coluna mais a direita.

AlignOperands: true # Alinha operadores binários e ternários

AlignTrailingComments: true # Alinha comentários

AllowAllParametersOfDeclarationOnNextLine: true #Coloca os parametros de uma função na próxima linha ou de forma personalisada segundo as opções.

AllowShortBlocksOnASingleLine: false # Permite o uso de blocos de funções em apenas uma única linha.

AllowShortCaseLabelsOnASingleLine: false # Permite escrever funções em uma única linha.

AllowShortFunctionsOnASingleLine: None # Permite escrever pequenas funções em uma única linha.

AllowShortIfStatementsOnASingleLine: false # Autoexplicativo
AllowShortLoopsOnASingleLine: false # Autoexplicativo
AlwaysBreakAfterDefinitionReturnType: None # deprecated

AlwaysBreakAfterReturnType: None # Não irá continuar executando o programa ao encontrar um return.

AlwaysBreakBeforeMultilineStrings: false # Após escrever um argumento, seu valor como string fica em uma nova linha.

AlwaysBreakTemplateDeclaration: false # Pula uma linha após a declaração.

BinPackArguments: true # se falso pula uma linha para cada argumento da função.

BinPackParameters: true # se falso pula uma linha para cada parâmetro.

BraceWrapping: # Configura individualmente o comportamento dos parentes para cada uso.
  AfterClass: false
